/* Importing Open Sans fotn from google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* Global styles */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    font-family: 'Open Sans', sanns-serif;
    background-color: #E5E5E5;
}


#my-skills {
    display: flex;
    flex-wrap: wrap;
}

.skill-item {
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(102, 102, 102);
    padding: 1rem 2rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
}